.wrapper
  = render "side_bar"
  = render "main_chat"

-# .messages
-#   = render @messages

-# .wrapper
-#   .side-bar
-#     .header
-#       %h3.header__name
-#         = current_user.name
-#       %ul.header__lists
-#         %li.list
-#           = link_to new_group_path do
-#             = icon('fas', 'edit', class: 'icon')
-#         %li.list
-#           = link_to edit_user_path(current_user) do
-#             = icon('fas', 'cog', class: 'icon')
-#     .groups
-#       - current_user.groups.each do |group|
-#         .group
-#           = link_to group_messages_path(group) do
-#             .group__name
-#               = group.name
-#             .group__message
-#               = group.show_last_message
          
-#   .chat-main
-#     .main-header
-#       .main-header__left-box
-#         %h2.main-header__left-box__current-group{"data-group_id":"4925"}
-#           sasasasasa
-#         %ul.main-header__left-box__member-list
-#           Member：
-#           %li.main-header__left-box__member-list__member sasa
-#       = link_to "/groups/edit" do
-#         .main-header__edit-btn Edit

-#     .messages
-#       .message
-#         .upper-message
-#           .upper-message__user-name
-#             -# = message.user.name
-#           .upper-message__date
-#             -# = message.created_at.strftime("")
-#         .lower-message
-#           -# - if message.content.present?
-#           -#   %p.lower-message__content
-#           -#     = message.content
-#           -# = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

-#     .form
-#       = form_for [@group, @message] do |f|
-#         = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#         .form__mask
-#           = f.label :image, class: 'form__mask__image' do
-#             = icon('fas', 'image', class: 'icon')
-#             = f.file_field :image, class: 'hidden'
-#         = f.submit 'Send', class: 'form__submit'
