-# .chat-main
-#   .main-header
-#     .main-header__left-box
-#       %h2.main-header__left-box__current-group{"data-group_id":"4925"}
-#         sasasasasa
-#       %ul.main-header__left-box__member-list
-#         Member：
-#         %li.main-header__left-box__member-list__member sasa
-#     = link_to edit_group_path(@group) do
-#       .main-header__edit-btn Edit

-#   .messages
-#     .message{"data-message_id":"11952"}
-#       .message__upper-info
-#         %p.message__upper-info__talker sasa
-#         %p.message__upper-info__date 2019/11/11(Mon) 20:06:04
-#       %p.message__text aaa
-#     .message{"data-message_id":"11952"}
-#       .message__upper-info
-#         %p.message__upper-info__talker sasa
-#         %p.message__upper-info__date 2019/11/11(Mon) 20:06:04
-#       %p.message__text aaa
-#     .message{"data-message_id":"11952"}
-#       .message__upper-info
-#         %p.message__upper-info__talker sasa
-#         %p.message__upper-info__date 2019/11/11(Mon) 20:06:04
-#       %p.message__text aaa
-#     .message{"data-message_id":"11952"}
-#       .message__upper-info
-#         %p.message__upper-info__talker sasa
-#         %p.message__upper-info__date 2019/11/11(Mon) 20:06:04
-#       %p.message__text aaa
-#     .message{"data-message_id":"11952"}
-#       .message__upper-info
-#         %p.message__upper-info__talker sasa
-#         %p.message__upper-info__date 2019/11/11(Mon) 20:06:04
-#       %p.message__text aaa
      
-#   .form
-#     = form_for [@group, @message] do |f|
-#       = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#       .form__mask
-#         = f.label :image, class: 'form__mask__image' do
-#           = icon('fas', 'image', class: 'icon')
-#           = f.file_field :image, class: 'hidden'
-#       = f.submit 'Send', class: 'form__submit'